body {
  background-color:dodgerblue;
}

h1 {
  color:black;
  text-align:center;
}

h3 {
  color:black;
  text-align:center;
}

p {
  font-family: serif;
  font-size: 15px;
  text-align: center;
  color:black;
}