body {
  background-image: url("https://www.w3schools.com/css/img_mountains.jpg");
  width:500px;
}

h1 {
  color:black;
  text-align:center;
}

h3 {
  color:white;
  text-align:center;
}

div {
  background-color:rgb (0,0,0);
}

p {
  font-family: serif;
  font-size: 14px;
  text-align: center;
  color:white;
  width: 400px;
  margin: auto;
}
