body {
  background-image: url("https://www.w3schools.com/css/img_mountains.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1200px;
  background-attachment: fixed;
}


h1 {
  color:black;
  text-align:center;
}

h3 {
  color:white;
  text-align:center;
}

div {
  background-color:rgba(0, 0, 0, 0.281);
  width:500px
}

p {
  font-family: serif;
  font-size: 14px;
  text-align: center;
  color:white;
  width: 400px;
  margin: auto;
}
